@import '../../../globals.scss';

.submenu_container{
    padding:20px 0;
}

.submenu_item{
    font-size:20px;
    display: inline-block;
    padding: 0 15px;
    color: white;
    font-family: 'orbitron-medium';
    cursor: pointer;
}


.tc{
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 8px 0 8px 0;
}

.table_container{
    padding: 30px 0;
}

.graph_title{
    font-family: "orbitron-bold";
    font-size: 28px;
    color: white;
    text-align: center;
    padding: 0 0 20px 0;
}

.tablex{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.player_image{
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.selected{
    border-bottom:solid 2px white;
}

.contentsx{
    padding: 50px;
}

.note{
    padding: 30px 0;
    font-style:italic;
    color: white;
    font-size: 20px;
    text-align: center;
}

.filter_options_container{
    text-align: center;
}

.filter_option{
    color: white;
    display: inline-block;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'orbitron-medium';
}

.selectedx{
    text-decoration: underline;
}

.ribbon{
    display: inline-block;
    height: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    
    .contentsx{
        padding: 0px;
    }
 }