<app-user-sidemenu></app-user-sidemenu>
<div class="background backgroundx">
    <div class="contentsx">
        <div class="page_title">Leaderboard</div>

        <div class="submenu_container">
            <div class="submenu_item" [ngClass]="{'selected':tab == 'daily'}" (click)="tab = 'daily'; filterPlayers()">Daily</div>
            <div class="submenu_item" [ngClass]="{'selected':tab == 'monthly'}" (click)="tab = 'monthly'; filterPlayers()">Monthly</div>
            <div class="submenu_item" [ngClass]="{'selected':tab == 'all-time'}" (click)="tab = 'all-time'; filterPlayers()">All-Time</div>
            <div class="submenu_item" [ngClass]="{'selected':tab == 'records'}" (click)="tab = 'records'; filterPlayers()">
                <img class="ribbon" src="../../../assets/images/ribbon.png">
                Record Holders
            </div>
        </div>

    @if(tab != 'records'){
            <div class="filter_options_container">
                <div class="filter_option" [ngClass]="{'selectedx':filter == 'points'}" (click)="filter='points';filterPlayers()">Points</div>
                <div class="filter_option" [ngClass]="{'selectedx':filter == 'tokens'}" (click)="filter='tokens';filterPlayers()">Tokens</div>
                <div class="filter_option" [ngClass]="{'selectedx':filter == 'badges'}" (click)="filter='badges';filterPlayers()">Badges</div>
            </div>
        

        <div class="table_container">
            <div class="graph_title">Top Players</div>
            @if (players.length > 0){
            <table class="table tablex">
                <thead>
                    <tr>
                        <th class="tc"></th>
                        <th class="tc">Username</th>
                        <th class="tc">Level</th>
                        <!--<th class="tc">Games</th>-->
                        @if (filter == 'points'){
                        <th class="tc">{{tab == 'daily' ? 'High Score':'Total Points'}}</th>
                        }
                        @else if (filter == 'tokens'){
                        <th class="tc">Tokens</th>
                        }
                        @else if (filter == 'badges'){
                        <th class="tc">Badges</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(x of players; track x.user_id){
                    <tr>
                        <td class="tc">
                            <img class="player_image" src="{{x.image}}">
                        </td>
                        <td class="tc">{{x.username.slice(0,10)}}</td>
                        <td class="tc">
                            <img class="player_image" src="{{x.level_icon}}">&nbsp;{{x.level}}</td>
                        <!--<td class="tc">{{x.games}}</td>-->
                        @if (filter == 'points'){
                            <td class="tc">{{tab == 'daily' ? x.max_score:x.points}}</td>
                        }
                        @else if( filter == 'tokens'){
                            <td class="tc">{{x.tokens_number}}</td>
                        }
                        @else if( filter == 'badges'){
                            <td class="tc">{{x.badges_number}}</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            }
            @else{
                <div class="note">There are no players to show</div>
            }
        </div>
    }
    @else {
        <div class="graph_title">Record Holders</div>
          
            <table class="table tablex">
                <thead>
                    <tr>
                        <th class="tc"></th>
                        <th class="tc">Category</th>
                         <th class="tc"></th>
                        <th class="tc">Record Holder</th>
                        <th class="tc">Value</th>
                        <th class="tc">Number of Days</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @for(x of record_holders; track x.user_id){
                    <tr>
                        <td class="tc"></td>
                        <td class="tc">
                            @if (x.category == 'all_games') { Number Of Games }
                            @if (x.category == 'top_score') { Top Score }
                            @if (x.category == 'badges') { Badges }
                            @if (x.category == 'tokens') { Tokens }
                            @if (x.category == 'total_points') { Total Points }
                        </td>
                        <td class="tc">
                            <img class="player_image" src="{{x.user_image}}">
                        </td>
                        <td class="tc">
                            {{x.username.slice(0,10)}}
                        </td>
                        <td class="tc">{{x.value}}</td>
                        <td class="tc">{{x.days_with_record}}</td>
                    </tr>
                    }
                </tbody>
            </table>
           
        
    

    }
    </div>
</div>