@import '../../../globals.scss';

.form_container{
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.labelf{
    color:grey;
}

.field_description{
    font-style: italic;
    font-size: 16px;
    color: grey;
}

.invalid_ratio_alert{
    padding: 20px;
    background-color: lightyellow;
    font-style: italic;
}

.preview{
    width:100px;
    height:100px;
    object-fit: contain;
    margin:5px;
    display: inline-block;
    cursor: pointer;
}

.images_container{
    padding: 30px 0;
}

.spinner{
    height:120px;
    margin:auto;
    display: block;
}

.image_preview{
    width:100%;
}