@import '../../../globals.scss';

.text_container{
    width: 100%;
    max-width: 360px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

.title{
    font-size:32px;
    color: $color-one;
}

.text{
    font-size:18px;
    text-align: center;
}

.backgroundx{
    padding-left:0;
}

.inputx{
    height:50px;
    border-radius: 0;
}
