<div class="background backgroundx">
    <div class="text_container">
        <div *ngIf="user_found == true">
            <h1 class="title" style="text-align: left; padding: 20px 0;">Reset your password</h1>

            <div class="labelf text-start">Password</div>
            <input type="password" class="form-control inputx" [(ngModel)]="password" placeholder="Enter new password"
                (ngModelChange)="clearAlerts()">
            <div *ngIf="invalid_password" class="invalid-feedback invalid_feedback" style="display:block;">
                {{invalid_password}}</div>

            <div class="labelf text-start">Confirm Password</div>
            <input type="password" class="form-control inputx" [(ngModel)]="confirm_password" placeholder="Confirm password"
                (ngModelChange)="clearAlerts()">
            <div *ngIf="invalid_confirm_password" class="invalid-feedback invalid_feedback" style="display:block;">
                {{invalid_confirm_password}}</div>

            <div class="text-center" style="padding:30px 0;">
                <button class="btn btn-default button_primary" (click)="submitPassword()">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resetSuccessModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body">

                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('resetSuccessModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>

                <p>Your password has been changed!</p>
                <div class="text-center">
                    <button class="btn btn-default button_primary" (click)="gotoLogin()">Ok</button>
                </div>

                <!--
                <input id="link" class="link" [value]="balance_sheet_unique_url" readonly>
                -->
            </div>
        </div>
    </div>
</div>