<app-admin-sidemenu></app-admin-sidemenu>
<div class="contents">
    <div class="page_title">Winners</div>

    <div class="date_label">{{this.selected_date_route}}</div>

    <dp-date-picker [(ngModel)]="selected_date" [config]="datePickerConfig" (ngModelChange)="evalSelectedDate()"></dp-date-picker>
    
    @if (players.length > 0){
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th class="text-center">Games</th>
                <th class="text-center">Max Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (user of players;track user.user_id; let  i = $index){
            <tr>
                <td>{{user.user_id}}</td>
                <td class="clickable" (click)="gotoUser(user)">
                    <img class="user_image" src="{{user.image}}">
                    {{user.username}}
                </td>
                <td>{{user.email}}</td>
                <td class="text-center">{{user.number_of_games}}</td>
                <td class="text-center">{{user.max_score}}</td>
                <td>
                    @if(i<4){
                        @if (!user.is_verified){
                            <button class="btn btn-default button_primary" (click)="requestInfo(user, i+1)">Request Identity Verification</button>
                        }
                        @else{
                            <button class="btn btn-default" (click)="seeDetails(user)">See Details</button>
                        }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    @else {
        <div class="text-center" style="padding:30px 0;">
            <em>There were no games on this date.</em>
        </div>
    }

</div>

<div class="modal fade" id="infoRequestedModal" tabindex="-1" role="dialog" [hidden]=""
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('infoRequestedModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>

                <p class="text-center">An email has been sent to the user requesting to verify their information.</p>

                <div class="text-center" style="padding: 35px 0 0 0;">
                    <button class="btn btn-default button_primary" (click)="closeModal('infoRequestedModal')">Ok</button>
                </div>

            </div>
        </div>
    </div>
</div>