@import '../../../globals.scss';

.user_image{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
}

.date_label{
    font-size: 20px;
    color: grey;
}

@media screen and (max-width: 768px) {
    .contentsx{
        padding-left:5px;
    }
}