.game_screen{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #33ccff, #000000, #000000);
    position: relative;
}

/* #00cccc */

.hero{
    height: calc(100vh - 100px);
    position: absolute;
    bottom:0;
    right:0;
}

.message{
    position:absolute;
    top: 50px;
    color: white;
}

.question_value{
    text-align: center;
    padding: 10px 25px;
    font-family: 'orbitron-medium';
    font-size: 1.2em;
    color: white;
    width: fit-content;
    margin: 1.5% auto;
    display: inline-block;
    border-radius:10px;
    background-color: transparent;
    border:solid 2px gold;
    width:150px;
}

.question_valuex{
    text-align: center;
    padding: 10px 25px;
    font-family: 'orbitron-medium';
    font-size: 1.2em;
    color: white;
    width: fit-content;
    margin: 1.5% auto;
    border-radius:0px;
    background-color: transparent;
}

.pts100{
    font-size: 0.8em;
}

.green{
    background-color: green !important;
}

.greenyellow{
    background-color: greenyellow !important;
}

.red{
    background-color: red !important;
}

.blue{
    background-color:  #33ccff !important;
}

.orange{
    background-color:  orange !important;
}

.invisible{
    visibility: hidden;
}

/*
.spark {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    box-shadow: 0 0 12px 2px white; 
    animation: sparkEffect 4s ease-in-out forwards;
    position: absolute;
    top: -135px;
    right: calc(50% - 424px);
  }
*/

/*
  @keyframes sparkEffect {
    0% {
      transform: scale(0); 
      opacity: 0; 
    }
    50% {
      transform: scale(1); 
      opacity: 1;
    }
    100% {
      transform: scale(0); 
      opacity: 0; 
    }
  }
*/



.question_container{
    width: 100%;
    display: block;
    padding: 0% 5% 0 5%;
    text-align: center;
    margin: 0;
    
}

.question{
    color: white;
    font-size: 3.5em;
    margin: 0 0 0% 0px;
    min-height: 150px;
}

.option{
    background-color: white;
    color: black;
    font-size: 2.5em;
    margin: 15px 0;
    border-radius: 100px;
    box-shadow: 5px 8px 0px lightgrey;
    z-index: 100;;
}


.advertisement_text{
    position: absolute;
    color: white;
    font-family: 'roboto-bold';
    font-size: 4em;
    top: 20%;
    right: 20px;
    width: 50%;
    text-align: center;
}

.invisible{
    visibility: hidden;
}



.points_animation{
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #33ccff, #000000);
    color: white;
    top: 27px;
    left: calc(50% - 0px);
    border-radius: 50%;
    font-size: 48px;
    padding: 10px 4px;
    transform: translateX(-50%);
    opacity: 0;
    animation: flash 1s ease-in-out forwards;
}

.user_on_fire{
    width:40px;
    display: inline-block;
}

.question{
    font-size:2.7em;
}

.option{
    font-size:2.2em;
}


/* Define the flash animation */
@keyframes flash {
    0% {
        opacity: 1;
        transform: translate(-50%, -20px) scale(1.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 20px) scale(0.5);
    }
}




@media screen and (max-width: 768px) {

    .option {
        font-size: 2em;
        margin: 15px 0;
        border-radius: 100px;
        box-shadow: 5px 8px 0px lightgrey;
    }

    .question{
        color: white;
        font-size: 1.5em;
        margin: 0 0 2% 0px;
        min-height: 0px;
    }

    .question_container{
        padding-top:10px;
    }

    /*
    .spark{
        position: absolute;
        top: -81px;
        right: 1%;
        width: 50px;
        height: 50px;
    }
    */
}


@media screen and (max-height: 750px){
    .question_container{
        padding-top: 0%;
    }

    .option{
        font-size:2em;
    }
}

@media screen and (max-height: 500px){
    .question{
        font-size:1.7em;
    }

    .option{
        font-size:1.25em;
        margin: 15px 0;
    }

}

.user_image{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: inline-block;
}

.submitted_by{
    color:white;
    font-family: 'orbitron-medium';
}




