<div class="game_screen">
    <!--
    <app-timer [time]="time"></app-timer>
   
    -->
     
    @if (has_joined){
    @if (page == 'game'){
    <app-user-stats [user]="user" [counter]="counter" [show_lives]="true" [active_players]="active_players" [on_fire]="user_on_fire"></app-user-stats>
    <div class="points_animation" *ngIf="show_point_animation" 
    [ngStyle]="{'font-size': points_value > 99 ? '40px':'48px','padding-top': value_points > 99? '30px':'10px'}">+{{user_on_fire ? 2*value_points:value_points}}</div>
    
    @if(show_on_fire_animation){ <app-on-fire-popup></app-on-fire-popup> }
    @if(show_double_or_nothing_animation){ <app-double-or-nothing-popup></app-double-or-nothing-popup> }
    @if(show_double_or_nothing_failed_animation){ <app-double-or-nothing-failed-popup></app-double-or-nothing-failed-popup> }
        
    <app-timer *ngIf="show_timer" [time]="time"></app-timer>
    <div class="question_container">
        <div class="question">{{message.question}}</div>
        
        @if(!question_notification){
            @if(user_on_fire && question_active){
                <img class="user_on_fire" src="../../../assets/images/fire-flame.gif">
            }
            <div class="question_value" [ngClass]="{'invisible':question_active == false}"><em>{{value_points > 0 ? value_points:0}}</em></div>
        }
        @else {
            <div class="question_valuex blue"><em>{{question_notification}}</em></div>
        }
        <!--
        @if (question_active && value_points > 75) { 
            @if(user_on_fire){
                <img class="user_on_fire" src="../../../assets/images/fire-flame.gif">
            }
            <div class="question_value" [ngClass]="{'invisible':question_active == false}"><em>{{value_points}}</em></div>
         }
        @else if(question_active && value_points > 50) {
            @if(user_on_fire){
                <img class="user_on_fire" src="../../../assets/images/fire-flame.gif">
            } 
            <div class="question_value" [ngClass]="{'invisible':question_active == false}"><em>{{value_points}}</em></div> 
        }
        @else{ 
            @if(user_on_fire){
                <img class="user_on_fire" src="../../../assets/images/fire-flame.gif">
            }
            <div class="question_value" [ngClass]="{'invisible':question_active == false}"><em>{{value_points > 0 ? value_points:0}}</em></div> 
        }
        -->
        
        <!--
        @switch (percent_correct) {
        @case (10) { <div class="question_value blue"><em>{{question_notification}}</em></div> }
        @case (20) { <div class="question_value blue"><em>{{question_notification}}</em></div> }
        @case (30) { <div class="question_value green"><em>{{question_notification}}</em></div> }
        @case (40) { <div class="question_value green"><em>{{question_notification}}</em></div> }
        @case (50) { <div class="question_value orange"><em>{{question_notification}}</em></div> }
        @case (60) { <div class="question_value orange"><em>{{question_notification}}</em></div> }
        @case (70) { <div class="question_value red"><em>{{question_notification}}</em></div> }
        }
    -->
        
       
        <div class="row">
            @for(x of options; track x.text){
            <div class="col-12 col-md-6">
                <div class="option op1"
                    [ngClass]="{'greenyellow': x.show_green, 'red': x.show_red, 'invisible': ((time_is_up == true && x.is_right_answer == false)||x.hide) }"
                    (click)="answerSelected(x)">
                    {{x.text}}</div>
            </div>
            }
        </div>
    </div>

    @if (banners){
        <app-question-footer4 [counter]="counter" [venue_id]="user.venue_id" [banners]="banners"></app-question-footer4>
    }
    }
    @else if (page == 'leaderboard'){
    <app-user-stats [user]="user" [show_lives]="false" [active_players]="active_players"></app-user-stats>
    <app-leaderboard-table [banners]="banners"></app-leaderboard-table>
    }
    @else if (page == 'advertisement' && ads){
    <app-advertisement-page [ads]="ads"></app-advertisement-page>
    }
    @else if (page == 'qrcode'){
    <app-qrcode [banners]="banners" [venue_id]="user.venue_id"></app-qrcode>
    } 
    @else if (page == 'prepare_screen'){
    <app-prepare-screen [banners]="banners" [account_type]="user.account_type" [double_option_has_been_used]="double_option_has_been_used" (make_double)="makeDouble()"></app-prepare-screen>
    }
    @else if (page == 'game_over'){
    <app-game-over (playAgain)="playAgain()"></app-game-over>
    }
    }
    @else {
    <app-splash></app-splash>
    }
    
</div>