<div class="sidemenu">
    <div class="text-end">
        <small class="user_link" (click)="gotoAdminAccount()">Admin</small>
    </div>
    <img class="logo" src="../../../../assets/images/logo_words.png" (click)="goto('home')">
    <ul class="ulx">
        <li class="sidemenu_item"  (click)="goto('questions')" [ngClass]="{'selectedx':page == 'questions'}">Questions</li>

        <!--
        <li class="sidemenu_item" (click)="goto('a/projects')" [ngClass]="{'selectedx':page == 'projects'}">Projects</li>
        
        <li class="sidemenu_item" (click)="goto('a/users')" [ngClass]="{'selectedx':page == 'users'}">Users</li>
        <li class="sidemenu_item" (click)="goto('a/logs')" [ngClass]="{'selectedx':page == 'logs'}">Logs</li>
        -->

       
        <li class="sidemenu_item logout" (click)="signOut()">Log out</li>
    </ul>
</div>