.join_container{
    font-size: 1.5em;
    color: white;
    margin: 3% 0;
    padding-bottom: 2%;
    width: 100%;
    height: 20vh;
    
}

.join_text{
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 40px 0 1.5% 0;
    font-family: 'orbitron-medium';
}

.join_url{
    color:yellow;
    font-size: 2em;
    font-family: 'roboto-bold';
    text-align: center;
    padding: 20px 0;
}

.banner{
    
    height: 8%;
    margin: 1% auto;
    display: block;
}

.qrcode{
    padding:40px 0;
}


@media screen and (max-width: 768px) {

    .banner{
        width: 100%;
        height: auto;
        margin: 3% auto;
    }

    .join_text{
        font-size: 2em;
    }

    .join_url{
        font-size: 2em;
    }

}