/* styles.css */
.timer {
    width: 80px; /* Set the size of the circle */
    height: 80px; /* Set the size of the circle */
    background-color: transparent; /* Initial background color */
    border-radius: 50%; /* Makes the div a circle */
    position:absolute;
    top: 0;
    right:1%;
    font-size: 3em;
    padding: 0em 0.5em;
    color:white;
    border: solid 3px;
}

.animated-circle {
    
    animation: colorChange 1s infinite; /* Apply the animation */
    
}

@media screen and (max-width: 768px) {
    .timer {
        width: 60px;
        height: 60px;
        font-size: 2em;
        padding: 0.1em 0.6em;
    }
}

@media screen and (min-width: 768px) {
    .animated-circle {
        animation: none;
    }
}

@keyframes colorChange {
    0%, 100% {
        background-color: transparent; /* Circle starts and ends transparent */
    }
    50% {
        background-color: red; /* Circle changes to blue at the halfway point */
    }
}