<app-user-sidemenu></app-user-sidemenu>
<div class="background backgroundx">
    <div class="dashboard_contents">
        <div class="page_title">Insufficient Funds</div>

        <div class="text">You dont have enough tokens to play this game.<br>
            Earn tokens by submitting a sports question!</div>

        <div class="text-center" style="padding: 50px 0;">
            <button class="btn btn-default button_primary btn-lg" (click)="gotoSubmitQuestion()">Submit Question</button>
        </div>
        <div class="text-center">
            <button class="btn btn-default" style="color:white;text-decoration:underline;">Go to dashboard</button>
        </div>
    </div>
</div>