@if(double_option_has_been_used == false){
    <button class="btn btn-default button_primary double_or_nothing" (click)="makeDouble()">Double or Nothing</button>
}

@if(option_selected){
    <button disabled class="btn btn-default button_primary double_or_nothing_selected">Double or Nothing</button>
}
<h1 class="countdown_timer">{{countdown_timer}}</h1>
<img class="logo_prepare" src="../../../assets/images/logo.png">
<img class="logo_words_prepare" src="../../../assets/images/logo_words.png">
<img class="banner" src="{{banner}}">