.countdown_timer{
    font-size: 12em;
    color: white;
    font-family: 'roboto-bold';
    text-align: center;
    padding: 0 0
}

.logo_prepare {
   
    height: 20%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.logo_words_prepare {
    margin: auto;
    display: block;
    padding: 30px 0;
    width: 30%;
    max-width: 760px;
}

.banner{
    width: 100%;
    max-width: 1200px;
    margin: 3% auto;
    display: block;
}

.double_or_nothing{
    background-color: transparent;
    border-radius: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: solid 2px gold;
    display: block;
    margin: -10px auto 30px auto;
}

.double_or_nothing_selected{
    color: black;
    background-color: gold;
    border-radius: 0;
    font-weight: 600;
    font-size: 16px;
    border:solid 2x black;
    display: block;
    margin: -10px auto 30px auto;
}

@media screen and (max-width: 768px) {

    .countdown_timer{
        font-size: 10em;
        padding: 2% 0
    }

    .logo_prepare {
        width: 80%;
    }
    
    .logo_words_prepare {
        width: 80%;
    }
}

@media screen and (max-height: 500px){
    .countdown_timer{
        font-size: 5em;
        padding: 2% 0
    }
}

.shiny-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, gold, white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 auto 30px auto;
    display: block;
  }
  
  /* Continuous Animated Glare */
  .shiny-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    transform: rotate(45deg);
    filter: blur(5px);
    animation: shine-animation 3s linear infinite;
    pointer-events: none;
  }
  
  /* Shine Animation */
  @keyframes shine-animation {
    0% {
      transform: rotate(45deg) translateX(-200%);
    }
    50% {
      transform: rotate(45deg) translateX(0%);
    }
    100% {
      transform: rotate(45deg) translateX(200%);
    }
  }