.countdown_timer{
    font-size: 12em;
    color: white;
    font-family: 'roboto-bold';
    text-align: center;
    padding: 1% 0
}

.logo_prepare {
   
    height: 20%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.logo_words_prepare {
    margin: auto;
    display: block;
    padding: 30px 0;
    width: 30%;
    max-width: 760px;
}

.banner{
    width: 100%;
    max-width: 1200px;
    margin: 3% auto;
    display: block;
}

.double_or_nothing{
    position:absolute;
    top: 10px;
    right:10px;
    background-color: #33ccff;
    border-radius: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.double_or_nothing_selected{
    position:absolute;
    top: 10px;
    right:10px;
    color: #33ccff;
    background-color: transparent;
    border-radius: 0;
    font-weight: 600;
    font-size: 16px;
    border:none;
}

@media screen and (max-width: 768px) {

    .countdown_timer{
        font-size: 10em;
        padding: 2% 0
    }

    .logo_prepare {
        width: 80%;
    }
    
    .logo_words_prepare {
        width: 80%;
    }
}

@media screen and (max-height: 500px){
    .countdown_timer{
        font-size: 5em;
        padding: 2% 0
    }
}