 <div class="dark_background">
    <div class="text-center ptb30" style="border-bottom:solid 1px white;">
        <img class="game_logo" src="../../../assets/images/h2h_logo_with_icon.png">
    </div>
    <div class="ptb30">
        <div class="subheader">PLAYER OBJECTIVE</div>
        <div class="text-center">
            <div class="cyan_card">
                <div class="card_number">1</div>
                <div class="card_text">PLAY IN PRIVATE AND PUBLIC MATCHES</div>
                <img class="card_image" src="../../../assets/images/users.jpg">
            </div>
            <div class="cyan_card">
                <div class="card_number">2</div>
                <div class="card_text">PLAY FOR POINTS OR FOR BATTLE TOKENS</div>
                <img class="card_image" src="../../../assets/images/emoji_money.jpg">
            </div>
            <div class="cyan_card">
                <div class="card_number">3</div>
                <div class="card_text">FACE OFF IN A THREE QUESTION, WINNER TAKE ALL BATTLE</div>
                <img class="card_image" src="../../../assets/images/trophy_blue.jpg">   
            </div>
        </div>

        <div class="badge_text">
           *** BATTLE TOKEN PRIZE POOL IS DETERMINED BY THE USER CREATING THE CHALLENGE & THUS MAY VARY IN SIZE PER EACH CHALLENGE. THE PRIZE POOL WILL BE MADE PUBLIC
           PRIOR TO THE OPPONENT(S) PRIOR TO AGREEING TO PLAY.
        </div>

        <div class="text-center">
            <div class="headline" style="display:inline-block;font-weight: 600; padding-right: 30px;">
                COST TO PLAY: 2,000 BATTLE TOKENS
            </div>
            <img class="token" style="display:inline-block;width:60px;"
                src="https://sportzbattle.blob.core.windows.net/system/tokens_logo.png">
        </div>
    </div>
    
    <div class="divider"></div>
    
    <div class="ptb30">
        <div class="subheader" style="color:#33ccff;">GAME FORMAT</div>
        <div class="row game_cards_containers">
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/lockbox2.png" style="padding:15px;">
                <div class="game_card_title">PRIVATE OR PUBLIC MATCHES</div>
                <div class="game_card_text">PLAY AGAINST FRIENDS IN PRIVATE MATCHES OR COMPETE AGAINST OTHERS PUBLICLY</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/finger_pointing.png" style="padding:15px;">
                <div class="game_card_title">CHOOSE YOUR SPORT</div>
                <div class="game_card_text">USERS HAVE THE OPTION TO CHOOSE THEIR TRIVIA CATEGORY</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/three.png" style="padding:15px;">
                <div class="game_card_title">THREE TOTAL QUESTIONS</div>
                <div class="game_card_text">EACH USER IS SERVED THE EXACT SAME QUESTIONS</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/clock.png">
                <div class="game_card_title">QUESTION & TIMER FORMAT </div>
                <div class="game_card_text">EACH QUESTION HAS FOUR MULTIPLE CHOICE ANSWERS AND A TIMER OF TEN SECONDS</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/swords.jpg">
                <div class="game_card_title">BEAT YOUR OPPONENT</div>
                <div class="game_card_text">GOAL IS TO SCORE MORE POINTS THAN YOUR OPPONENT</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/trophy.jpg">
                <div class="game_card_title">WIN BATTLE TOKENS!</div>
                <div class="game_card_text">PLEASE REFERENCE THE "DIFFERENT WAYS TO WIN" PAGE FOR ADDITIONAL DETAILS </div>
            </div>
            
        </div>
 </div>
 <div class="text-center ptb30">
    <button class="btn btn-default button_primary btn-lg" (click)="goPlay()">Play</button>
 </div>
 </div>