@import '../../../globals.scss';


.user_details {
    padding: 60px 40px 0px 40px;
    position: relative;
    margin: auto;
    display: block;
}

.dashboard_contents{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
    padding-bottom: 100px;
}

.user_image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.user_name{
    font-size: 20px;
    font-family: 'orbitron-bold';
    display: inline-block;
    vertical-align: middle;
    padding-left:20px;
    color: white;
}

.level_icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.level_name{
    font-size: 16px;
    font-family: 'orbitron-bold';
    vertical-align: middle;
    color: white;
}

.box_title{
    color: white;
    font-family: "orbitron-bold";
    font-size: 24px;
    text-align: center;
    padding: 7px 0;
    margin: auto;
}

.box_number{
    color: white;
    font-family: "orbitron-bold";
    font-size: 20px;
    text-align: center;
    background-color: #33ccff;
    padding: 25px 0px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
}

.box_rank{
    font-style: italic;
    font-size:18px;
    color:white;
    text-align: center;
}


.rowx{
    margin:0;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px white;
}

.play_now_button{
    position: absolute;
    top: 10px;
    right: 15px;
}

.tc{
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 600;
}

.table_container{
    padding: 30px 0;
}

.level_container{
    display: inline-block;
    vertical-align: middle;
    padding-left:60px;
}


.user_badge{
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 0px 0px;
    margin: 0 7px;
}

.user_badges{
    padding: 50px 0 30px 0;
}

.badgex{
    font-family: 'orbitron-bold';
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 13px;
}


@media screen and (max-width: 768px) {
   .user_name{
    font-size: 16px;
   }

   .user_image{
    width: 60px;
    height: 60px;
   }

   .level_name{
    font-size: 15px;
   }
   
    .backgroundx{
    padding:0px;
   }

   .box_title{
        max-width:166px;
   }

   .user_details{
    padding: 60px 5px 0px 5px;
   }

   .level_container{
    padding-left: 20px;
   }
}