<app-user-sidemenu></app-user-sidemenu>
<div class="background backgroundx">
    <div class="dashboard_contents">
        @if(user){
        <div class="user_details">
            <img class="user_image" src="{{user.image}}">
            <div class="user_name">{{user.name}}</div>
            <div class="level_container">
                <img class="level_icon" src="{{user.level_icon}}">
                <div class="level_name">{{user.level}}</div>
            </div>
            <div class="level_container" (click)="gotoWallet()">
                <img class="level_icon" src="https://sportzbattle.blob.core.windows.net/system/tokens_logo.png">
                <div class="level_name" style="text-align:center">{{user.wallet.toLocaleString('en-US')}}</div>
                <!--
                <div class="level_name" style="text-align:center">{{user.wallet.toLocaleString('en-US')}}</div>
                <div class="wallet_value">${{user.wallet_value}}</div>
                -->
            </div>
            <!--
            <div class="level_container">


                <button class="btn btn-default button_primary" [ngClass]="{'grey':user.wallet_value < 50 }" (click)="redeemCash()">Redeem Cash</button>
            </div>
            -->
            <div class="text-end">
                <button class="btn btn-default button_primary play_now_button" (click)="showGameTypeModal()">Play Now</button>
            </div>
        </div>
        }
        <div class="user_badges">
            <div class="user_name" style="padding-bottom: 15px;">Badges ({{number_of_badges}})</div><br>
            
                @for (x of badges; track x.user_badge_id){
                    <div class="badgex">
                    <img class="user_badge" src="{{x.badge_icon}}">
                    <div>X{{x.count}}</div>
                </div>
                }
            </div>

        <app-user-dashboard-graph [games]="games"></app-user-dashboard-graph>

        @if(user){
        <div class="row rowx" id="myrow">
            <div class="col-6">
                <div class="box_title">Total Points</div>
                <div class="box_number">{{user.points}}</div>
                @if(stats.all_time_points_number_players > 0 && stats.number_of_games > 0){
                    <div class="box_rank">{{stats.all_time_points_rank_suffix}} out of {{stats.all_time_points_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
            </div>
            <div class="col-6">
                <div class="box_title">Daily High Points</div>
                <div class="box_number">{{stats.high_points_today}}</div>
                @if(stats.high_points_today_number_players > 0 && stats.games_today > 0){
                <div class="box_rank">{{stats.high_points_today_rank_suffix}} out of {{stats.high_points_today_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
            </div>
            
        </div>
        <div class="row rowx" id="myrow">
            <div class="col-6">
                <div class="box_title">Monthly Points</div>
                <div class="box_number">{{stats.monthly_points}}</div>
                @if(stats.monthly_points_number_players > 0 && stats.number_of_games > 0){
                    <div class="box_rank">{{stats.monthly_points_rank_suffix}} out of {{stats.monthly_points_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
                
            </div>
            <div class="col-6">
                <div class="box_title">All-time Top Score</div>
                <div class="box_number">{{stats.top_score_all_time}}</div>
                @if(stats.top_score_all_time_number_players > 0 && stats.number_of_games > 0){
                    <div class="box_rank">{{stats.top_score_all_time_rank_suffix}} out of {{stats.top_score_all_time_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
            </div>
        </div>
        <div class="row rowx" id="myrow">
            <div class="col-6">
                <div class="box_title">Today Games</div>
                <div class="box_number">{{stats.games_today}}</div>
                @if(stats.games_today_number_players > 0 && stats.games_today > 0){
                    <div class="box_rank">{{stats.games_today_rank_suffix}} out of {{stats.games_today_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
            </div>
            <div class="col-6">
                <div class="box_title">Total Games</div>
                <div class="box_number">{{stats.number_of_games}}</div>
                @if(stats.number_of_games_number_players > 0 && stats.number_of_games > 0){
                    <div class="box_rank">{{stats.number_of_games_rank_suffix}} out of {{stats.number_of_games_number_players}}</div>
                }
                @else{
                    <div class="box_rank">-</div>
                }
            </div>
            
        </div>
        <div class="row rowx" id="myrow">
            <div class="col-6">
                <div class="box_title">Badges</div>
                <div class="box_number">{{stats.badges}}</div>
                
                <div class="box_rank">{{stats.badges_rank_suffix}} out of {{stats.top_score_all_time_number_players}}</div>
                
            </div>
            <div class="col-6">
                <div class="box_title">Tokens</div>
                <div class="box_number">{{stats.wallet}}</div>
                <div class="box_rank">{{stats.tokens_rank_suffix}} out of {{stats.top_score_all_time_number_players}}</div>
                
            </div>
            
        </div>
        }

        <div class="box_title">Loop Game</div>
        <div class="table_container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tc"></th>
                        <th class="tc">Questions</th>
                        <th class="tc">Correct</th>
                        <th class="tc">Pct %</th>
                        <th class="tc">Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tc">All</td>
                        <td class="tc">{{stats.all_questions}}</td>
                        <td class="tc">{{stats.all_correct}}</td>
                        <td class="tc">{{stats.all_pct}}%</td>
                        <td class="tc">{{stats.all_pct_rank_suffix}}</td>
                    </tr>
                    <tr>
                        <td class="tc">Basketball</td>
                        <td class="tc">{{stats.all_nba}}</td>
                        <td class="tc">{{stats.nba_correct}}</td>
                        <td class="tc">{{stats.nba_pct}}%</td>
                        <td class="tc">{{stats.nba_pct_rank_suffix}}</td>
                    </tr>
                    <tr>
                        <td class="tc">Football</td>
                        <td class="tc">{{stats.all_nfl}}</td>
                        <td class="tc">{{stats.nfl_correct}}</td>
                        <td class="tc">{{stats.nfl_pct}}%</td>
                        <td class="tc">{{stats.nfl_pct_rank_suffix}}</td>
                    </tr>
                    <tr>
                        <td class="tc">Baseball</td>
                        <td class="tc">{{stats.all_mlb}}</td>
                        <td class="tc">{{stats.mlb_correct}}</td>
                        <td class="tc">{{stats.mlb_pct}}%</td>
                        <td class="tc">{{stats.mlb_pct_rank_suffix}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box_title">Head To Head Games</div>
         @if(h2h_games){
        <div class="table_container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tc">Date</th>
                        <th class="tc">Host</th>
                        <th class="tc">Sport</th>
                        <th class="tc">Position</th>
                        <th class="tc">No. Players</th>
                    </tr>
                </thead>
               
                <tbody>
                    @for (x of h2h_games.slice(0,max_items); track x.h2h_game_id){
                    <tr>
                        <td class="tc">{{x.date}}</td>
                        <td class="tc">{{x.username}}</td>
                        <td class="tc">
                            @if(x.sport == 'basketball') { 🏀 }
                            @if(x.sport == 'football') { 🏈 }
                            @if(x.sport == 'baseball') { ⚾ }
                        </td>
                        <td class="tc">{{x.user_position}}</td>
                        <td class="tc">{{x.number_of_players}}</td>
                    </tr>
                    }
                </tbody>
              
            </table>
            @if (h2h_games.length > max_items){
            <div class="text-center">
                <button class="btn btn-default" style="color:white;text-decoration:underline;" (click)="seeMore()">See More</button>
            </div>
            }
        </div>
          }
        
    </div>
</div>

<div class="modal fade" id="gameTypeModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body" *ngIf="user">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('gameTypeModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                <h1 class="modal_title">Select game mode</h1>  
                
                <div class="text-center" style="padding: 25px 0;">
                    <button type="button" class="btn btn-default game_icon" (click)="goPlay()">
                        <img class="button_image" src="../../../assets/images/loop_logo.png">
                    </button><br><br>
                    <button type="button" class="btn btn-default game_icon"  (click)="goPlayH2H()">
                        <img class="button_image" src="../../../assets/images/h2h_logo.png">
                    </button><br><br>
                    <button type="button" class="btn btn-default game_icon"  (click)="goPlay20Quest()">
                        <img class="button_image" src="../../../assets/images/quest20_logo.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notEnoughMoneyModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body" *ngIf="user">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('notEnoughMoneyModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                
                <div class="text-center" style="padding: 50px 0;">
                    <p><em>You must have at least $50 in your wallet to redeem.</em></p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-default button_primary" (click)="closeModal('notEnoughMoneyModal')">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>