@import '../../../globals.scss';

.logo {
   
    height: 20%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.logo_words {
    margin: auto;
    display: block;
    padding: 30px 0;
    width: 30%;
    max-width: 760px;
}

.game_over{
    color: white;
    font-size: 2em;
    font-family: 'orbitron-bold';
    /* margin: auto; */
    /* display: block; */
    text-align: center;
}

.play_again_button{
    background-color: #33ccff;
    color: white;
    font-size: 1.5em;
    font-family: "orbitron-medium";
    padding: 10px 30px;
}

.dashboard_button{
    color: white;
    font-family: 'orbitron-medium';
    font-size: 18px;
    padding: 20px 0;
}

.message{
    background-color: green;
    color: white;
    font-size: 1.2em;
    font-family: "orbitron-medium";
    padding: 10px 30px;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.stats_background{
    background-image: url('../../../assets/images/background.png');
    background-size: contain;
}

.header{
    display: flex;
    justify-content: space-between; align-items: center;
}

.header_item{
    width:198px;
}

.sportzbattle_logo{
    width: 100px;
}

.link_text{
    color:white;
    font-size:20px;
    font-style: italic;
    font-family: 'orbitron-medium';
    font-weight:600;
}

.stat_image{
    width: 50%;
    vertical-align: middle;
    max-height: 121px;
    object-fit: contain;
}

.stat_label{
    font-size:20px;
    font-style:italic;
    text-align: center;
    color: white;
    border-bottom: solid 1px white;
    padding-bottom: 8px;
    font-family: 'orbitron-medium';
    width: 149px;
}

.stat_data_number{
    font-size:34px;
    text-align: center;
    color: white;
    line-height: 70px;
    font-family: 'orbitron-medium';
}

.stat_value{
    display: inline-block;
    vertical-align: top;
    font-family: 'orbitron-medium';
    height: 117px;
}

.cards{
    max-width: 635px;
    margin: 40px auto;
}

.social_media_icon{
    display: inline-block;
    width: 50px;
    margin: 0 10px;
}

.bottom_label{
    background-color: $color-one;
    color:white;
    width: fit-content;
    padding: 5px 30px;
    text-align: center;
    margin: 20px auto;
    font-family: 'orbitron-medium';
    font-size: 18px;
    font-weight: 600;
}

.skill_receipt_sm{
    display: none;
}

.snx{
    font-size: 27px;
}
.transparent-shine {
  position: relative;
  overflow: hidden;
}

.transparent-shine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 300%;
  /* A sharp diagonal "beam" of light */
  background: linear-gradient(
    80deg,
    transparent,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%,
    transparent
  );
  animation: sweep 5s infinite;
}

@keyframes sweep {
  0% { transform: translate(-100%, -50%); }
  100% { transform: translate(100%, 50%); }
}


@media screen and (max-width: 768px) {
    .logo {
        width: 80%;
    }
    
    .logo_words {
        width: 80%;
    }

    .stat_image{
            margin: auto;
    display: block;
    height: 56px;
    object-fit: contain;
    }    

.stat_value{
    display: block;
    margin: auto;
    height:auto;
}

.modal_body{
    padding: 10px 10px 40px 10px;
}

.skill_receipt_lg{
    display: none;
}

.skill_receipt_sm{
    display: block;
}

.cards{
    margin: 20px auto;
}

.stat_data_number{
    font-size:40px;
    line-height: 50px;
    padding-top:10px;
}

.snx{
    font-size: 30px;
}

    
}