<div class="row join_container">
    <div class="col-12 col-md-6 qrcode_container">
        <div class="join_text">Join the battle!</div>
        <img class="qr_code" src="../../../assets/images/qr_code.png">
    </div>
    <div class="col-12 col-md-6 logo_container">
        <img class="logo_with_words" src="../../../assets/images/logo_with_words.png">
    </div>
    <div class="col-12 col-md-6 logo_words_container">
        <img class="logo_words" src="../../../assets/images/logo_words.png">
    </div>
</div>
