@import '../../../globals.scss';

.checkboxx{
    display: inline-block;
    padding: 10px;
}

.filter_title{
    font-family: 'roboto-bold';
    font-size: 18px;
}

.search_container{
    position:relative;
}

.inputx{
    padding-left:50px;
}

.table_icon{
    color:grey;
    cursor:pointer;
}

.clear_icon{
    position: absolute;
    top: 2px;
    background-color: lightgrey;
    padding: 5px 11px;
    border-radius: 50%;
    left: 300px;
    color: white;
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    .contentsx{
        padding-left:5px;
    }
}

