.user_stats{
    color: white;
    font-size: 1.2em;
    padding: 10px 10px 20px 10px;
}

.life_circle{
    width:16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    margin: 0 1px;
    vertical-align: middle;
}

.green{
    background-color: greenyellow !important;
}

.red{
    background-color: red !important;
}

.trend_icon{
    color:greenyellow;
    font-size: 24px;
}

.game_stats{
    display:none;
    color: white;
    font-size:1.5em;
    padding: 1% 0 0 1%;
}

.user_icon{
    color:#33ccff;
    font-size: 20px;
}

.user_image{
    width:50px;
    height: 50px;
    object-fit:cover;
    border-radius: 50%;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .user_stats{
        display: none;
    }

    
    .game_stats{
        display:block;
       
    }
    
}

@media screen and (max-height: 500px){
    .game_stats{
        font-size:1em;
    }
}