<div class="user_stats">
    {{user.name}}&nbsp;&nbsp;&nbsp;
    <i class="fa-solid fa-arrow-trend-up trend_icon"></i>&nbsp;{{user.points}} ({{user.rank}}rd)
    &nbsp;&nbsp;
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 1)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 2)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 3)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 4)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives == 5)}"></div>
</div>

<div class="game_stats">
    <em>Active Players: {{number_of_users}}</em>
</div>