.user_stats{
    color: white;
    font-size: 1.2em;
    padding: 10px 20px 20px 20px;
}

.life_circle{
    width:20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    margin: 0 5px;
    vertical-align: middle;
}

.green{
    background-color: greenyellow !important;
}

.red{
    background-color: red !important;
}

.trend_icon{
    color:greenyellow;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .user_stats{
        display: none;
    }
}