<div class="user_stats">
    <img class="user_image" src="../../../assets/images/user2.jpg">&nbsp;
    <!--
    {{user.name}}&nbsp;&nbsp;&nbsp;
    -->
    <i class="fa-solid fa-arrow-trend-up trend_icon"></i>&nbsp;{{user.points}} ({{user.rank}}rd)
    &nbsp;
    @if (show_lives){
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 1)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 2)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 3)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives >= 4)}"></div>
    <div class="life_circle" [ngClass]="{'green':(user.lives == 5)}"></div>
    &nbsp;
    }
    <i class="fa-solid fa-user user_icon"></i>&nbsp;{{number_of_users}}
</div>

<div class="game_stats">
    <em><i class="fa-solid fa-user user_icon"></i>&nbsp;&nbsp;Total Daily Plays: {{number_of_users}}</em>
</div>