<!--
<img class="banner" src="{{banner}}">
-->
<!-- banner_ads -->
 
<app-adsterra [counter]="counter"></app-adsterra>


<div class="row join_container">
    <div class="col-12 col-md-6 qrcode_container">
        <!-- <div class="join_text">Join the battle and win money. Its FREE!!!</div> -->
        <!--<div class="join_text">Join the Battle. It’s free!!!</div>-->
        <div class="join_text">Join the game for a chance to win money. It’s free!</div>
        <div class="text-center">
            <qrcode [qrdata]="'sptzba.com/join/' + venue_id" [width]="175" [margin]="2" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <!--
        <img class="qr_code" src="../../../assets/images/qr_code.png">
        -->
        <div class="join_url">{{'sptzba.com/join/' + venue_id}}</div>
    </div>
    <div class="col-12 col-md-6 logo_container">
        <img class="logo_with_words" src="../../../assets/images/logo.png">
        <div class="join_text" style="padding:20px 0;">SportzBattle.com</div>
    </div>

    <!--
    <div class="text-center invite_friend_container" style="padding:20px 0 10px 0;">
        <button class="btn btn-default button_invite_friend">
            <i class="fa-solid fa-share-nodes"></i>&nbsp;Share
        </button>
    </div>
    -->
    <!--
    <div class="logo_words_container">
        <img class="logo_words" src="../../../assets/images/logo_words.png">
    </div>
    -->
</div>
