@import '../../../globals.scss';


.user_image{
    width:40px;
    height:40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0 0;
}


.clear_icon{
    position: absolute;
    top: 2px;
    background-color: lightgrey;
    padding: 5px 11px;
    border-radius: 50%;
    left: 300px;
    color: white;
    cursor:pointer;
}

.search_container{
    position:relative;
}

.inputx{
    padding-left:50px;
    width:360px;
}

.sort_icon{
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    .contentsx{
        padding-left:5px;
    }
}


