<div class="game_screen">
    <!--
    <app-timer [time]="time"></app-timer>
   
    -->
    @if (has_joined){
    @if (page == 'game'){
    <app-user-stats [user]="user" [counter]="counter" [show_lives]="true"></app-user-stats>
    <div class="points_animation" *ngIf="show_point_animation">+{{points_value}}</div>
    <app-timer *ngIf="show_timer" [time]="time"></app-timer>
    <div class="question_container">
        <div class="question">{{message.question}}</div>
        @switch (message.value_points) {
        @case (10) { <div class="question_value blue"><em>{{question_notification}}</em></div> }
        @case (20) { <div class="question_value blue"><em>{{question_notification}}</em></div> }
        @case (30) { <div class="question_value green"><em>{{question_notification}}</em></div> }
        @case (40) { <div class="question_value green"><em>{{question_notification}}</em></div> }
        @case (50) { <div class="question_value orange"><em>{{question_notification}}</em></div> }
        @case (60) { <div class="question_value orange"><em>{{question_notification}}</em></div> }
        @case (70) { <div class="question_value red"><em>{{question_notification}}</em></div> }
        }
       
        <div class="row">
            @for(x of options; track x.text){
            <div class="col-12 col-md-6">
                <div class="option op1"
                    [ngClass]="{'greenyellow': x.show_green, 'red': x.show_red, 'invisible': (time_is_up == true && x.is_right_answer == false) }"
                    (click)="answerSelected(x)">
                    {{x.text}}</div>
            </div>
            }
        </div>
    </div>

    <!--
    @if (cycle_counter % 3 == 1){
    <app-question-footer></app-question-footer>
    }
    @if (cycle_counter % 3 == 2){
    <app-question-footer2 [counter]="counter"></app-question-footer2>
    }
    @if (cycle_counter % 3 == 0){
    <app-question-footer3></app-question-footer3>
    }
    -->
    <app-question-footer4 [counter]="counter"></app-question-footer4>

    }
    @else if (page == 'leaderboard'){
    <app-user-stats [user]="user" [show_lives]="false"></app-user-stats>
    <app-leaderboard-table></app-leaderboard-table>

    }
    @else if (page == 'advertisement'){
    <app-advertisement-page></app-advertisement-page>
    }
    @else if (page == 'prepare_screen'){
    <app-prepare-screen></app-prepare-screen>
    }
    @else if (page == 'game_over'){
    <app-game-over (playAgain)="playAgain()"></app-game-over>
    }
    }
    @else {
    <app-splash></app-splash>
    }
</div>