<app-user-sidemenu></app-user-sidemenu>
<div class="background backgroundx">
    <div class="dashboard_contents">
        
        <div class="page_title">Battle Lobby</div>

        <!--
        @if(scouts){
        <div class="submenu_container">
            <div class="submenu_item" [ngClass]="{'selected':tab == 'search'}" (click)="tab = 'search'; query = ''; filterByTab()">Search</div>
            <div class="submenu_item" [ngClass]="{'selected':tab == 'scouting'}" (click)="tab = 'scouting'; query = ''; filterByTab()">Scouting ({{scouts.scouts.length}})</div>
            <div class="submenu_item" [ngClass]="{'selected':tab == 'scouted-by'}" (click)="tab = 'scouted-by'; query = ''; filterByTab()">Scouted by ({{scouts.prospects.length}})</div>
        </div>
        }
        -->
        <!--
        <div class="input_container" style="position: relative;">
            <input type="text" class="form-control search_inputx" [(ngModel)]="query" (ngModelChange)="filterPlayers()">
            <i class="fa-solid fa-magnifying-glass search_icon search_iconx"></i>
            @if (query){
                <div class="clear_icon" (click)="query='';filterPlayers();"><i class="fa-solid fa-times"></i></div>
            }
        </div>
        -->
        <div class="text-end" style="padding:30px 0;">
            <button class="btn btn-default button_primary" (click)="showCreateGameModal()">
                <i class="fa fa-plus"></i>&nbsp;Create Game
            </button>
        </div>
        
        <div class="table_container">
            <!--
            <div class="graph_title">Top Players</div>
            -->
            @if (games.length > 0){
            <table class="table tablex">
                <thead>
                    <tr>
                        <th class="tc">Host</th>
                        @if(!is_small){
                        <th class="tc">Rank</th>
                        }
                        <th class="tc">Sport</th>
                        @if(!is_small){
                        <th class="tc">Prize</th>
                        }
                        <th class="tc">Expires in</th>
                        <!--<th class="tc">Games</th>-->
                        <th  class="tc"></th>
                        <th  class="tc"></th>
                       
                    </tr>
                </thead>
                <tbody>
                    @for(x of games; track x.game_id){
                    <tr>
                        <td class="tc" >
                            <img class="player_image" src="{{x.user_image}}">&nbsp;{{x.username.slice(0,10)}}&nbsp;({{x.points_host}})
                        </td>
                         @if (!is_small){
                        <td class="tc">
                                <img class="player_image" src="{{x.level_icon}}">&nbsp;{{x.level}}
                        </td>
                        }
                        @if (!is_small){
                        <td  class="tc" style="text-transform: uppercase;">
                            {{x.sport}}
                        </td>
                        }
                        @if (is_small){
                        <td  class="tc" style="text-transform: uppercase;">
                            @if(x.sport == 'basketball') { 🏀 }
                            @if(x.sport == 'football') { 🏈 }
                            @if(x.sport == 'baseball') { ⚾ }
                        </td>
                        }
                        @if(!is_small){
                        <td class="tc">{{x.amount}}&nbsp;{{x.bet_mode}}</td>
                        }
                        <td class="tc"><em>{{x.expires_in}}</em></td>
                        <td class="tc">
                            @if(x.game_access == 'public'){
                            <button class="btn btn-default button_primary table1_button" (click)="goPlay(x)">
                                {{x.created_by_user_id == user.user_id ? 'PLAY':'PLAY'}}
                            </button>
                            }
                            @else {
                            @if(x.user_has_invitation || x.created_by_user_id == user.user_id){
                            <button class="btn btn-default button_primary table1_button" (click)="goPlay(x)">
                                <i class="fa-solid fa-lock"></i>&nbsp;PLAY
                            </button>
                            }
                            @else{
                            <button class="btn btn-default button_secondary table1_button" disabled>
                                <i class="fa-solid fa-lock"></i>&nbsp;Private
                            </button>
                            }
                            }
                        </td>
                        <td class="tc">
                            @if(x.game_access == 'public'){
                            
                            <button class="btn btn-default button_share table1_button" (click)="showShareModal(x)">
                                <i class="fa-solid fa-share"></i>&nbsp;Share
                            </button>
                            }
                            @else {
                                @if(x.created_by_user_id == user.user_id){
                                <button class="btn btn-default button_share table1_button" (click)="showInviteModal(x)">
                                    <i class="fa-regular fa-user"></i>&nbsp;Invite
                                </button>
                                }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            @else{
                <div class="note">There are no games in the lobby</div>
            }
        </div>
       
    </div>
</div>

<div class="modal fade" id="createGameModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('createGameModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                @if (gamex){
                <p class="game_create_field">Select Access</p>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.game_access == 'private'}"
                            (click)="gamex.game_access = 'private'">Private</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.game_access == 'public'}"
                            (click)="gamex.game_access = 'public'">Public</button>
                    </div>
                </div>
                @if(gamex.game_access){
               <p class="game_create_field">Select Sport</p>
               <div class="row">
                <div class="col-4">
                    <button class="btn btn-default" [ngClass]="{'selected': gamex.sport == 'football'}" (click)="gamex.sport = 'football'">Football</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-default" [ngClass]="{'selected': gamex.sport == 'baseball'}" (click)="gamex.sport = 'baseball'">Baseball</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-default" [ngClass]="{'selected': gamex.sport == 'basketball'}" (click)="gamex.sport = 'basketball'">Basketball</button>
                </div>
               </div>
               @if (gamex.sport){
                <!--
                <p class="game_create_field">Select Prize Type</p>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.bet_mode == 'tokens'}"
                            (click)="gamex.bet_mode = 'tokens';gamex.amount = undefined;">Battle Tokens</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.bet_mode == 'points'}"
                            (click)="gamex.bet_mode = 'points';gamex.amount = undefined;">Points</button>
                    </div>
                </div>
                @if (gamex.bet_mode){
                -->
                <p class="game_create_field">Select Amount</p>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 0}"
                            (click)="gamex.amount = 0">0</button>
                    </div>
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 100) || (gamex.bet_mode == 'points' && user.points >= 100)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 100}"
                            (click)="gamex.amount = 100">100</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 200) || (gamex.bet_mode == 'points' && user.points >= 200)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 200}"
                            (click)="gamex.amount = 200">200</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 250) || (gamex.bet_mode == 'points' && user.points >= 250)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 250}"
                            (click)="gamex.amount = 250">250</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 500) || (gamex.bet_mode == 'points' && user.points >= 500)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 500}"
                            (click)="gamex.amount = 500">500</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 750) || (gamex.bet_mode == 'points' && user.points >= 750)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 750}"
                            (click)="gamex.amount = 750">750</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 1000) || (gamex.bet_mode == 'points' && user.points >= 1000)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 1000}"
                            (click)="gamex.amount = 1000">1000</button>
                    </div>
                    }
                    @if ((gamex.bet_mode == 'tokens' && user.wallet >= 1500) || (gamex.bet_mode == 'points' && user.points >= 1500)) {
                    <div class="col-3">
                        <button class="btn btn-default" [ngClass]="{'selected': gamex.amount == 1500}"
                            (click)="gamex.amount = 1500">1500</button>
                    </div>
                    }
                </div>
                @if (gamex.amount >= 0){
                <div class="text-center" style="padding:40px 0 0 0;">
                    <button class="btn btn-default button_primary btn-lg" (click)="createGame()">Create Game</button>
                </div>
                }
                }
               }
                
            }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notEnoughPointsOrTokensModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @if (gamex){
            <div class="modal-body modal_body">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('notEnoughPointsOrTokensModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                
                @if (gamex.bet_mode == 'tokens'){
                    <p>You dont have enough Battle Tokens to play this game.</p>
                }
                @else {
                    <p>You dont have enough Points to play this game. Earn points by playing the loop mode.</p>
                }
                
                <div class="text-center" style="padding: 25px 0;">
                    <button type="button" class="btn btn-danger" (click)="closeModal('notEnoughPointsOrTokensModal')">OK</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="alreadyPlayedModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body modal_body">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('alreadyPlayedModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                
                <div class="text-center">
                <p><em>You already played this game.</em></p>
                </div>
                
                <div class="text-center" style="padding: 25px 0 0 0;">
                    <button type="button" class="btn btn-default button_primary" (click)="closeModal('alreadyPlayedModal')">OK</button>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @if (gamex){
            <div class="modal-body modal_body">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('shareModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                
                <div class="text-center" style="padding: 30px 0;">
                    <input id="link" class="form-control share_url text-center" [value]="'sptzba.com/playh2h/' + gamex.game_url" readonly><br>
                    <button class="btn btn-default button_primary" style="margin-top:30px;" (click)="copyToClipboard()">Copy</button>
                     <span *ngIf="showTooltip == true" class="tooltipx">Copied!</span>
                </div>
            
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body modal_bodyx">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('inviteModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                
                <div class="input_container" style="position: relative; margin-top: 40px;">
                    <input type="text" class="form-control search_inputx" [(ngModel)]="query" (ngModelChange)="filterPlayers()">
                    <i class="fa-solid fa-magnifying-glass search_icon search_iconx"></i>
                    @if (query){
                    <div class="clear_icon" (click)="query='';filterPlayers();"><i class="fa-solid fa-times"></i></div>
                    }
                </div>

                <div class="users_container">
                @for(x of users; track x.user_id){
                    <div class="user_container">
                        <img class="user_image" src="{{x.image}}">
                        <div class="user_name" style="width:120px;">{{x.username.slice(0,8)}}</div>
                        <div class="user_name" style="width:90px;">{{x.points ? x.points:0}}</div>
                        @if (x.has_been_invited){
                            <button class="btn btn-default button_primary table_button2" style="font-size:16px">Invited</button>
                        }
                        @else{
                            <button class="btn btn-default button_share table_button2" style="font-size:16px"  (click)="inviteUser(x)">Invite</button>
                        }
                    </div>
                }
                </div>
            </div>
            
        </div>
    </div>
</div>

