 <div class="dark_background">
    <div class="text-center ptb30" style="border-bottom:solid 1px white;">
        <img class="game_logo" src="../../../assets/images/quest20_logo.png">
    </div>
    <div class="ptb30">
        <div class="subheader">PLAYER OBJECTIVE</div>
        <div class="text-center">
            <div class="cyan_card">
                <div class="card_number">1</div>
                <div class="card_text">SIGN UP PRIOR TO THE START TIME</div>
                <img class="card_image" src="../../../assets/images/analog_clock.jpg">
            </div>
            <div class="cyan_card">
                <div class="card_number">2</div>
                <div class="card_text">PAY CHALLENGE ENTRANCE FEE</div>
                <img class="card_image" src="../../../assets/images/coins.png">
                
            </div>
            <div class="cyan_card">
                <div class="card_number">3</div>
                <div class="card_text">COMPETE TO ACHIEVE CERTAIN QUESTION MILESTONES MARKERS</div>
                <img class="card_image" src="../../../assets/images/flag.jpg">
            </div>
            <div class="cyan_card">
                <div class="card_number">4</div>
                <div class="card_text">WIN BATTLE TOKENS</div>
                <img class="card_image" src="../../../assets/images/you_win.jpg">
            </div>
        </div>
    </div>
 
    
    <div class="divider"></div>
    
    <div class="ptb30">
        <div class="subheader" style="color:#33ccff;">GAME FORMAT</div>
        <div class="row game_cards_containers">
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/checkbox.png">
                <div class="game_card_title">20 TOTAL QUESTIONS</div>
                <div class="game_card_text">THE GOAL IS TO ANSWER AS MANY QUESTIONS CORRECTLY IN A ROW AS YOU CAN</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/new.png">
                <div class="game_card_title">CHALLENGES RUN EVERY 10 MINUTES</div>
                <div class="game_card_text">A NEW CHALLENGE GOES LIVE EVERY TEN MINUTES</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/clock.png">
                <div class="game_card_title">QUESTION & TIMER FORMAT</div>
                <div class="game_card_text">EACH QUESTION HAS FOUR MULTIPLE CHOICE ANSWER & A TIMER</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/wifi.jpg">
                <div class="game_card_title">REAL TIME</div>
                <div class="game_card_text">COMPLETE AGAINST OTHER USERS LIKE</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/helmet.png">
                <div class="game_card_title">QUESTION TYPES</div>
                <div class="game_card_text">THE SAME EXACT QUESTIONS SURROUNDING FOOTBALL, BASEBALL AND BASKETBALL ARE SERVED TO USERS AT THE SAME EXACT TIME</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/cross.png">
                <div class="game_card_title">REMOVE ANSWERS</div>
                <div class="game_card_text">USERS HAVE THE ABILITY TO REMOVE TWO INCORRECT ANSWER CHOICES IN A QUESTIONS ONE TIME</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/scoreboard.png">
                <div class="game_card_title">SCOREBOARD</div>
                <div class="game_card_text">RESULTS OF ALL COMPETITORS IS CAPTURE REAL TIME</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/skull.jpg">
                <div class="game_card_title">ELIMINATED</div>
                <div class="game_card_text">ANSWER A SINGLE QUESTION INCORRECTLY & YOU ARE ELIMINATED</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/trophy.jpg">
                <div class="game_card_title">WIN BATTLE TOKENS!</div>
                <div class="game_card_text">ADVANCE TO CERTAIN MILESTONE QUESTIONS TO WIN! PLEASE REFERENCE THE "DIFFERENT WAYS TO WIN" FOR ADDITIONAL DETAILS.</div>
            </div>
        </div>
 </div>
 <div class="text-center ptb30">
    <button class="btn btn-default button_primary btn-lg" (click)="goPlay()">Play</button>
 </div>
 </div>