@import '../../../globals.scss';

.contentsx{
    padding: 40px 100px;
}

.form_container{
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.labelf{
    color:grey;
}

.image{
    width: 200px;
}

.spinner{
    height:120px;
    margin:auto;
    display: block;
}

.check{
    width: 100px;
    margin: 20px auto;
    display: block;
}
