@import '../../../globals.scss';

.submenu_container{
    padding:20px 0;
}

.submenu_item{
    font-size:20px;
    display: inline-block;
    padding: 0 15px;
    color: white;
    font-family: 'orbitron-medium';
    cursor: pointer;
}

.backgroundx{
    padding-left: 200px;
}

.tc{
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 600;
}

.table_container{
    padding: 30px 0;
}

.graph_title{
    font-family: 'orbitron-bold';
    font-size:20px;
    color: white;
    text-align: center;
}

.tablex{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.player_image{
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.selected{
    border-bottom:solid 2px white;
}

@media screen and (max-width: 768px) {
    .backgroundx{
     padding-left:0px;
    }
 }