<div *ngIf="countdown" class="countdown">{{countdown}}</div>
<div class="title">Daily Leaderboard</div>
<table class="table leaderboard_table">
    <thead>
        <tr>
            <th class="tc" style="text-align:center;">{{position_label}}</th>
            <th class="tc" >Player</th>
            <th class="tc" style="text-align:center;">{{points_label}}</th>
            <th class="tc" style="text-align:center;">{{winnings_label}}</th>
        </tr>
    </thead>
    <tbody>
        @for(x of users; track x.player_id){
        <tr>
            <td class="tc" style="text-align:center;">{{x.position}}</td>
            <td class="tc" style="">
                <img class="user_image" src={{x.image}}>&nbsp;&nbsp;&nbsp;{{x.name}}
            </td>
            <td class="tc" style="text-align:center;">{{x.points}}</td>
            <td class="tc" style="text-align:center;">
                
                <div *ngIf="x.position == 1">$50</div>
                <div *ngIf="x.position == 2">$25</div>
                <div *ngIf="x.position == 3">$15</div>
                <div *ngIf="x.position == 4">$10</div>
                <div *ngIf="x.position > 4">$0</div>
                
            </td>
        </tr>
        }
    </tbody>
</table>
<img class="banner" src="../../../assets/images/banner2.png">