 <div class="dark_background">
    <div class="text-center ptb30" style="border-bottom:solid 1px white;">
        <img class="game_logo" src="../../../assets/images/loop_logo.png">
    </div>
    <div class="ptb30">
        <div class="subheader">PLAYER OBJECTIVE</div>
        <div class="cyan_grid">
            <div class="cyan_card">
                <img class="card_image" src="../../../assets/images/play.jpg">
                <div class="card_text">PLAY</div>
            </div>
            <div class="cyan_card">
                <img class="card_image" src="../../../assets/images/check.jpg">
                <div class="card_text">ANSWER QUESTIONS CORRECTLY</div>
            </div>
            <div class="cyan_card">
                <img class="card_image" src="../../../assets/images/star.jpg">
                <div class="card_text">EARN POINTS</div>
            </div>
            <div class="cyan_card">
                <img class="card_image" src="../../../assets/images/coins.png">
                <div class="card_text">WIN BATTLE TOKENS</div>
            </div>
        </div>
    </div>
    <table class="tablex orbitron">
<thead>
    <!--
    <tr>
        <th class="tc">POINTS SCORED</th>
        <th class="tc">WINNINGS</th>
    </tr>
    -->
</thead>
<tbody>
    <tr>
        <td class="tc right">500-749 POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;1,000 TOKENS</td>
    </tr>
    <tr>
        <td class="tc right">750-999 POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;2,000 TOKENS</td>
    </tr>
    <tr>
        <td class="tc right">1,000-1,999 POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;5,000 TOKENS</td>
    </tr>
    <tr>
        <td class="tc right">2,000-2,499 POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;15,000 TOKENS</td>
    </tr>
    <tr>
        <td class="tc right">2,500-2,999 POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;25,000 TOKENS</td>
    </tr>
    <tr>
        <td class="tc right">3,000 OR MORE POINTS</td>
        <td class="tc left">&nbsp;=&nbsp;50,000 TOKENS</td>
    </tr>
</tbody>
    </table>

    <div class="text-center" style="padding-top:50px;">
            <div class="headline" style="display:inline-block;font-weight: 600; padding-right: 30px;">
                COST TO PLAY: 2,500 BATTLE TOKENS
            </div>
            <img class="token" style="display:inline-block;width:60px;"
                src="https://sportzbattle.blob.core.windows.net/system/tokens_logo.png">
        </div>
    <!--
    <div class="row points_table"> 
        <div class="col-6">
            POINTS SCORED<br><br>
            500 POINTS<br>
            750 POINTS<br>
            1000 POINTS<br>
            1500 POINTS<br>
            2000 POINTS<br>
            2500 POINTS<br>
            3000 POINTS+
        </div>
        <div class="col-6">
            WINNINGS<br><br>
            1000 BATTLE TOKENS = $1<br>
            2000 BATTLE TOKENS = $2<br>
            5000 BATTLE TOKENS = $5<br>
            10,000 BATTLE TOKENS = $10<br>
            15,000 BATTLE TOKENS = $15<br>
            25,000 BATTLE TOKENS = $25<br>
            50,000 BATTLE TOKENS = $50
        </div>
    </div>
    -->
    <div class="divider"></div>
    <div class="ptb30">
        <div class="subheader">EARN BADGES!</div>

        <div class="badges_container">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/football.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/cycle.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/sword.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/basketball.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/brain.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/baseball.png">
            <img class="badge_icon" src="https://sportzbattle.blob.core.windows.net/system/dice.png">
        </div>
        <div class="badge_text">
            THE MORE QUESTIONS YOU ANSWER CORRECTLY, THE MORE UNIQUE BADGES YOU CAN COLLECT
        </div>
    </div>
     <div class="divider"></div>
     <div class="ptb30">
        <div class="subheader" style="color:#33ccff;">GAME FORMAT</div>
        <div class="row game_cards_containers">
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/clock.png">
                <div class="game_card_title">QUESTION & TIMER FORMAT</div>
                <div class="game_card_text">EACH QUESTION HAS FOUR MULTIPLE CHOICE ANSWERS AND A TIMER OF TEN SECONDS</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/wifi.jpg">
                <div class="game_card_title">REAL TIME</div>
                <div class="game_card_text">WHENEVER A PLAYER JOINS THEY ARE FED THE EXACT SAME QUESTIONS AT THE EXACT SAME TIME AS OTHER USERS CURRENTLY PLAYING</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/helmet.png">
                <div class="game_card_title">QUESTION TYPES</div>
                <div class="game_card_text">QUESTIONS SURROUNDING FOOTBALL, BASEBALL AND BASKETBALL ARE RANDOMLY SELECTED AND SERVED TO USER</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/star2.jpg">
                <div class="game_card_title">EARN POINTS</div>
                <div class="game_card_text">EACH QUESTION IS WORTH 100 POINTS. AS SECONDS TICK AWAY SO DO THE AVAILABLE ANSWER CHOICES & POINTS A USER CAN EARN</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/fire.jpg">
                <div class="game_card_title">CATCH FIRE</div>
                <div class="game_card_text">ANSWER 3 QUESTIONS IN A ROW CORRECTLY AND EARN DOUBLE THE POINTS</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/arrow.jpg">
                <div class="game_card_title">DOUBLE OR NOTHING</div>
                <div class="game_card_text">USERS HAVE OPTION TO DOUBLE THEIR OVERALL SCORE WITHIN THE ROUND OR LOSE IT ALL.</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/skull.jpg">
                <div class="game_card_title">ELIMINATED</div>
                <div class="game_card_text">A USER'S ROUND ENDS ONCE THEY ANSWER THREE QUESTIONS INCORRECTLY.</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/rejoining.jpg">
                <div class="game_card_title">REJOINING</div>
                <div class="game_card_text">DESPITE BEING ELIMINATED, A USER CAN REJOIN AT ANYTIME AND START A NEW ROUND FOR AS MANY TIMES AS THEY WOULD LIKE.</div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 game_card">
                <img class="game_card_image" src="../../../assets/images/trophy.jpg">
                <div class="game_card_title">WIN BATTLE TOKENS!</div>
                <div class="game_card_text">PLEASE REFERENCE THE DIFFERENT WAYS TO WIN OAGE FOR ADDITIONAL DETAILS</div>
            </div>
        </div>
 </div>
 <div class="text-center ptb30">
    <button class="btn btn-default button_primary btn-lg" (click)="goPlay()">Play</button>
 </div>
 </div>